 body{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

.titulo{
    font-size: 3.5rem;
    color: rgba(3, 3, 114, 0.801);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7.8px;
}

/* A partir de aquí encontrarás cosas maravillosas */

.parrafo{
    padding: 15px;
    color: rgb(49, 49, 49);
    text-align: justify;
}

.button{
    padding: 10px 20px;
    max-width: 250px;
    cursor: pointer;
    border: 0.5px solid rgb(255, 67, 67);
    transition: 1s;
}

.button:hover{
    background:rgba(220, 220, 230, 0.801);
    border-radius: 24px;
    border: 1px solid rgb(53, 50, 50);
}